*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #2f1f21;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input-box{
    height: 60px;
    width: 300px;
    max-width: 90%;
}
#password{
    height: 50px;
    width: 100%;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 20px;

}
button{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    transform: translateX(-120%);
    cursor: pointer;
}
img{
    height: 30px;
    width: 30px;
    background-color: transparent;
}
#message{
    margin: 5px;
    color: #fff;
}